[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.0",
    "pillow>=12.1.0",
    "python-dotenv>=1.2.1",
    "qrcode>=8.2",
    "uvicorn>=0.40.0",
]
