name: Build and Publish image to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: puchki2015
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Build and push API image
        uses: docker/build-push-action@v5
        with:
          context: ./api
          push: true
          tags: puchki2015/devops-qr-code-api:latest
      
      - name: Build and push Frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./front-end-nextjs
          push: true
          tags: puchki2015/devops-qr-code-frontend:latest
